.container {
  font-size: 12px;
}

.sizingWrapper {
  position: relative;
  display: grid;
  grid-template: repeat(3, min-content) / repeat(3, max-content);
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.size {
  border: 1px solid black;
  padding: 10px 14px;
  background-color: rgb(172 201 255);
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  border: 1px dashed black;
  background-color: rgb(196 207 140);
  padding: 1px 8px;
}

.margin {
  border: 1px dashed black;
  background-color: rgb(248 204 158);
  padding: 1px 8px;
}

.text {
  position: absolute;
  top: 3px;
  left: 3px;
}
